.artwork {
    margin-right: 10px;
    border-radius: 5px;
  }
  .header{
    background: rgb(203, 219, 243);
    color: gray;
    border-radius: 3px;
  }
  
  mat-grid-tile {
   border-bottom: 1px solid lightgray;
  }